<div class="ft_inner">

    <div class="ft_top">
        <div id="ft_logo">
            <a href="/resources/ssg_new/html/main/main.html"><img src="/resources/ssg_new/dist/images/content/logo_white.png" alt="SHINSEGAE"></a>
        </div>
        <div class="ft_links">
            <div class="item"><a href="/resources/ssg_new/html/notice.html">공지사항</a></div>
            <div class="item"><a href="/resources/ssg_new/html/privacy.html">개인정보처리방침</a></div>
        </div>
    </div>
    <div class="ft_bottom">
        <div class="ft_info">
            <!-- (주)신세계 대표이사 : 박주형 | 주소 : 서울시 서초구 신반포로 고속버스터미널 신관 | 개인정보보호책임자 : 김선진
            사업자등록번호 : 201-81-32195 | 고객만족센터 : TEL 02-3406-6900 | FAX : 02-3479-1090 -->

            <p>
                <span>(주)신세계 대표이사 : 박주형</span><span class="gubun"> | </span>
                <span>주소 : 서울시 서초구 신반포로 고속버스터미널 신관</span><span class="gubun"> | </span>
                <span>개인정보보호책임자 : 박순민</span>
                <span>사업자등록번호 : 201-81-32195</span><span class="gubun"> | </span>
                <span>고객만족센터 : TEL 02-3406-6900 | FAX : 02-3479-1090</span>
            </p>
            <div class="ft_copy">Copyright SHINSEGAE. All Rights Reserved.</div>
        </div>
        <div class="ft_familysite">
            <strong>패밀리사이트</strong>
            <ul>
                <li><a href="https://www.shinsegae.co.kr" target="_blank">신세계그룹</a></li>
                <li><a href="https://www.shinsegae.com" target="_blank">신세계백화점</a></li>
                <li><a href="https://www.gjshinsegae.co.kr" target="_blank">광주신세계</a></li>
                <li><a href="https://store.emart.com" target="_blank">이마트</a></li>
                <li><a href="https://www.emarteveryday.co.kr/" target="_blank">이마트 에브리데이</a></li>
                <li><a href="http://www.shinsegaefood.com" target="_blank">신세계 푸드</a></li>
                <li><a href="https://www.sikorea.co.kr" target="_blank">신세계 인터내셔널</a></li>
                <li><a href="https://www.shinsegae-enc.com" target="_blank">신세계 건설</a></li>
                <li><a href="http://www.shinsegae-inc.com" target="_blank">신세계 I&amp;C</a></li>
                <li><a href="https://www.istarbucks.co.kr" target="_blank">에스씨케이컴퍼니</a></li>
                <li><a href="https://www.shinsegaesvn.com/" target="_blank">신세계 SVN</a></li>
                <li><a href="https://www.premiumoutlets.co.kr" target="_blank">신세계 첼시</a></li>
            </ul>
        </div>

    </div>
</div>