<div class="hd_inner">
    <div id="hd_logo">
        <a href="javascript:;"><img src="../../dist/images/content/logo.png" alt="SHINSEGAE"></a>
    </div>

    <div class="sitemap">
        <button type="button" class="btn_hamburget_close" onclick="displayMenu()">
            <span class="sound_only">메뉴 닫기</span>
        </button>
        <div id="hd_links">
            <div class="item active">
                <a href="javascript:;">사업소개</a>
            </div>
            <div class="item">
                <a href="javascript:;">기업체 구매상담</a>
            </div>
            <div class="item">
                <a href="javascript:;">협력회사 입점/제휴</a>
            </div>
            <div class="item">
                <a href="javascript:;">오시는 길</a>
            </div>
        </div>

        <div class="hd_info">
            <div class="inner">
                <div class="item">
                    <div class="tit">Address.</div>
                    <p>서울특별시 서초구 신반포로 194, 신관1층<br />(반포동, 고속버스터미널)<br />신세계백화점 지원팀 사무실 법인영업팀</p>
                </div>
                <div class="item">
                    <div class="tit">Tel.</div>
                    <p>02-3406-6900</p>
                </div>
                <div class="item">
                    <div class="tit">Fax.</div>
                    <p>02-3479-1090</p>
                </div>

            </div>
        </div>
    </div>

    <div class="hd_sites">
        <div class="item">
            <a href="https://mo-mngptn.ssgb2e.com/auth/login" target="_blank">고객사</a>
        </div>
        <div class="item">
            <a href="https://mo-mngsell.ssgb2e.com/auth/login" target="_blank">협력회사</a>
        </div>
        <div class="item">
            <a href="https://bo-system.ssgb2e.com/auth/login" target="_blank">법인영업</a>
        </div>
        <button type="button" class="btn_hamburger" onclick="displayMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span class="sound_only">메뉴열기</span>
        </button>
    </div>
</div>